{{ define "main"}}
<div class="single card">
  <h4 class="card-title">{{ .Title }}</h4>
  <div class="subtitle-part second-center">
    <div>
      <embed class="icon-svg" src="{{ "/icons/createTime.svg" }}" type="image/svg+xml" />
      <span>{{ dateFormat "2006-01-02 15:04" .Date}}</span>
    </div>
    <div>
      <embed class="icon-svg" src="{{ "/icons/readingTime.svg" }}" type="image/svg+xml" />
      <span>{{ .ReadingTime }} mins</span>
    </div>
  </div>
  <div class="small-size">
    {{ range .Params.categories }}
    <span>
      <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">"{{ . }}"</a>
    </span>
    {{ end }}
    {{ range .Params.tags }}
    <span>
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
    </span>
    {{ end }}
  </div>
  <div class="divider"></div>
  <div class="content">
    {{ .Content }}
  </div>
  <blockquote>
    <p class="smallx-size">
      最后修改于: {{ dateFormat "2006-01-02 15:04" .Lastmod}}
    </p>
  </blockquote>
  {{ partial "gitalk.html" . }}
</div>
{{ end }}