<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link rel="stylesheet" href="{{ "css/normalize.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/index.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/custom.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/md.css" | absURL }}">
<script src="{{ "js/jquery-3.5.1.slim.min.js" | absURL }}"></script>
<script src="{{ "js/base.js" | absURL }}"></script>
<script src="{{ "js/clipboard.min.js" | absURL}}"></script>
<script src="{{ "js/codeBlock.js" | absURL}}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154558247-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag("js", new Date());
  gtag("config", "UA-154558247-1");
</script>